<h1 class="text-center">Add a description</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <% if @dose.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @dose.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit "add a description", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
